<%- include('../common/header.ejs') %>
    <link rel="stylesheet" href="../static/css/user/signup.css">
    <link rel="stylesheet" href="../static/css/user/login.css">
    <div class="singup-box">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="login-title-logo-box" style="text-align: center;">
                    <h1>File<span class="header-world-logo"> W<i class="fas fa-globe fa-sm"></i>rld</span></h1>
                </div>
                <div class="login-form-box">
                    <div class="form-group">
                        <input class="form-control user-email" type="email" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <input class="form-control user-id" type="id" placeholder="ID">
                    </div>
                    <div class="form-group">
                        <input class="form-control user-password" type="password" placeholder="Password">
                    </div>

                    <div class="signup-btn-box">
                        <div class="signup-local btn btn-primary">
                            <span>SIGNUP</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <script>
        const signupBtn = document.querySelector('.signup-local');

        function reqSignupInfo() {
            const userEmail = document.querySelector('.user-email').value;
            const userID = document.querySelector('.user-id').value;
            const userPassword = document.querySelector('.user-password').value;

            const bodyData = {
                ui_email: userEmail,
                ui_id: userID,
                ui_password: userPassword,
            }

            axios.post('/api/user/signup', bodyData);
        }

        signupBtn.addEventListener('click', () => reqSignupInfo());
    </script>
    <%- include('../common/footer.ejs') %>