#forum-list-box {
  width: 80%;
  margin: auto;
}

.forum-list-card-box > div {
  margin-bottom: 20px;
}

.forum-user-profile-box {
  text-align: center;
}

.forum-profile {
  width: 75px;
  height: 75px;
  border-radius: 70%;
  overflow: hidden;
}

.forum-top-profile {
  width: 55px;
  height: 55px;
}

.forum-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.forum-profile-name {
  font-weight: bold;
}

/* card header */

.forum-list-card-header-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.forum-category {
  background-color: #007bff;
  line-height: 26px;
  font-size: 16px;
  padding: 2px 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.forum-list-title {
  font-size: 20px;
  color: #434a53;
  line-height: 26px;
  white-space: normal;
  font-weight: bold;
}

/* card body */

.forum-info-box {
  display: flex;
  margin-top: 20px;
}

.forum-info-box div {
  margin-right: 10px;
}

.forum-post-info-box {
  width: 100%;
  margin-left: 20px;
  margin-top: 3px;
}

.forum-date {
  float: right;
  font-weight: bold;
  color: #b5b5b5;
}
