<%- include('../common/header.ejs') %>
    <link rel="stylesheet" href="../../static/css/forum/detail.css">

    <div id="forum-detail-box">
        <div class="card detail-card"></div>
    </div>

    <script type="text/javascript" charset="utf-8">
    <%- include('./detail.js') %>
    </script>
<%- include('../common/footer.ejs') %>