<%- include('../common/header.ejs') %>
    <link rel="stylesheet" href="../static/css/forum/list.css">

    <div id="forum-list-box">
        <div class="row forum-list-post-box">
            <div class="col-lg-3 col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">TOP 3 Forum</h5>
                        
                        <div class="forum-top-body-box"></div>
                    </div>
                </div>

                <div class="popular-tags"></div>
            </div>
            <div class="col-lg-9 col-sm-12">
                <div class="form-row forum-list-search-box">
                    <div class="form-group col-md-2">
                        <select class="form-control search-category">
                            <option value="all" selected>ALL</option>
                            <option value="data-export">Data export</option>
                            <option value="image-resize">Image resize</option>
                            <option value="file-controller">File controller</option>
                            <option value="etc">ETC</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <select class="form-control search-pageSize">
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <input type="text" class="form-control search-title" placeholder="Title Search">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary mb-3 forum-list-search-btn">
                            <i class="fas fa-search"></i>
                            Search
                        </button>
                        <a href="/forum/write">
                            <button class="btn btn-primary mb-3">
                                <i class="far fa-edit"></i>
                                Write
                            </button>
                        </a>
                    </div>
                </div>
                <div class="forum-list-card-box"></div>
                <div id="pagination" class="mb-3"></div>
            </div>
        </div>
    </div>
    <script src="./list.js"></script>
    <%- include('../common/footer.ejs') %>