<%- include('../common/header.ejs') %>
    <link rel="stylesheet" href="../static/css/forum/list.css">

    <div id="forum-list-box">
        <div class="row forum-list-post-box">
            <div class="col-md-3">
                <div class="card forum-top-list">
                    <div class="card-body">
                        <h5 class="card-title">TOP Forum</h5>
                        <div class="forum-list-top-box">
                            <div class="forum-user-profile-box">
                                <div class="forum-profile forum-top-profile">
                                    <img src="../static/images/146675.jpg" alt="">
                                </div>
                                <div class="forum-profile-name">
                                    <p>crow</p>
                                </div>
                            </div>
                        </div>
                        <div class="forum-list-top-box">
                            <div class="forum-user-profile-box">
                                <div class="forum-profile forum-top-profile">
                                    <img src="../static/images/146675.jpg" alt="">
                                </div>
                                <div class="forum-profile-name">
                                    <p>crow</p>
                                </div>
                            </div>
                        </div>
                        <div class="forum-list-top-box">
                            <div class="forum-user-profile-box">
                                <div class="forum-profile forum-top-profile">
                                    <img src="../static/images/146675.jpg" alt="">
                                </div>
                                <div class="forum-profile-name">
                                    <p>crow</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <select id="inputState" class="form-control">
                            <option selected>ALL</option>
                            <option>Data export</option>
                            <option>Image resize</option>
                            <option>File controller</option>
                            <option>Issue</option>
                            <option>ETC</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <select id="inputState" class="form-control">
                            <option selected>10</option>
                            <option>20</option>
                            <option>30</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <input type="text" class="form-control" placeholder="Title Search">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary mb-3">Search</button>
                        <a href="/forum/write">
                            <button class="btn btn-primary mb-3">Write</button>
                        </a>
                    </div>
                </div>
                <div class="forum-list-card-box"></div>
                <div id="pagination">
                </div>
            </div>
        </div>
    </div>
    <script src="./list.js"></script>
<%- include('../common/footer.ejs') %>