<%- include('../common/header.ejs') %>
    <link rel="stylesheet" href="../static/css/forum/list.css">
    <div id="forum-list-box">
        <div class="forum-post-list-box row">
            <div class="col-md-4">
                <div class="card">
                    <div class="forum-top-list card-body">
                        <h5 class="card-title">TOP Forum</h5>
                        <div style="display: flex; margin-top: 20px">
                            <div class="forum-user-profile-box">
                                <div class="forum-profile forum-top-profile">
                                    <img src="../static/images/146675.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; margin-top: 20px">
                            <div class="forum-user-profile-box">
                                <div class="forum-profile forum-top-profile">
                                    <img src="../static/images/Animal_ Fallow Deer_ Species_ Mammal.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; margin-top: 20px">
                            <div class="forum-user-profile-box">
                                <div class="forum-profile forum-top-profile">
                                    <img src="../static/images/Bee_ Insects_ Pollinate_ Fly.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body" style="display: flex;">
                        <div class="forum-user-profile-box">
                            <div class="forum-profile">
                                <img src="../static/images/146675.jpg" alt="">
                            </div>
                            <div class="forum-profile-name">
                                <p>crow</p>
                            </div>
                        </div>
                        <div class="forum-post-info-box">
                            <div class="forum-title-box">
                                <h5 class="card-title">데이터 추출이 안됩니다.</h5>
                            </div>
                            <div class="forum-info-box">
                                <div class="forum-comment-box">
                                    <span style="color: #12a7e4; font-weight: bold;"><i class="fas fa-comment"></i> 50
                                        Answers</span>
                                </div>
                                <div class="fourm-view-box">
                                    <span style="color: #2b8d6e; font-weight: bold;"><i class="fas fa-eye"></i> 50
                                        Views</span>
                                </div>
                                <div class="fourm-like-box">
                                    <span style="color: #ed635e; font-weight: bold;"><i class="far fa-heart"></i> 10
                                        Like</span>
                                </div>
                            </div>
                            <div class="forum-category-box">
                                <div class="card">data export</div>
                                <div class="card">image resize</div>
                                <div class="card">file controller</div>
                            </div>
                            <p class="card-text forum-date">2021-09-28</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="display: flex;">
                        <div class="forum-user-profile-box">
                            <div class="forum-profile">
                                <img src="../static/images/Animal_ Fallow Deer_ Species_ Mammal.jpg" alt="profile">
                            </div>
                            <div class="forum-profile-name">
                                <p>crow</p>
                            </div>
                        </div>
                        <div class="forum-post-info-box">
                            <div class="forum-title-box">
                                <h5 class="card-title">이미지 리사이즈 오류 나요.</h5>
                            </div>
                            <div class="forum-info-box">
                                <div class="forum-comment-box">
                                    <span style="color: #12a7e4; font-weight: bold;"><i class="fas fa-comment"></i> 50
                                        Answers</span>
                                </div>
                                <div class="fourm-view-box">
                                    <span style="color: #2b8d6e; font-weight: bold;"><i class="fas fa-eye"></i> 50
                                        Views</span>
                                </div>
                                <div class="fourm-like-box">
                                    <span style="color: #ed635e; font-weight: bold;"><i class="far fa-heart"></i> 10
                                        Like</span>
                                </div>
                            </div>
                            <div class="forum-category-box">
                                <div class="card">data export</div>
                                <div class="card">image resize</div>
                                <div class="card">file controller</div>
                            </div>
                            <p class="card-text" style="float: right; font-weight: bold; color: #b5b5b5">2021-09-28
                            </p>
                        </div>
                    </div>
                </div>
            <div id="pagination"
                style="
                display: flex; 
                justify-content: center;
                margin-top: 10px;"
            ></div>
            </div>
        </div>
    </div>
    <script>
        $('#pagination').pagination({
            // 데이터 넣는 곳
            dataSource: [
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
                {'idx': 1},
            ],
            pageSize: 10,
            className: 'paginationjs-theme-blue',
            callback: function (data, pagination) {
            }
        })
    </script>
    <%- include('../common/footer.ejs') %>