<%- include('../common/header.ejs') %>
    <link rel="stylesheet" href="../static/css/forum/write.css">

    <div id="forum-write-box" class="mb-5">
        <h2>Add New Post</h2>
        <div class="forum-write-contents-box">
            <form>
                <div class="form-group">
                    <label for="forum-write-title">Title</label>
                    <input type="text" class="form-control forum-write-title">
                </div>
                <div class="form-group">
                    <label for="forum-write-category">Category</label>
                    <select class="form-control forum-write-category">
                        <option value="data-export" selected>Data export</option>
                        <option value="image-resize">Image resize</option>
                        <option value="file-controller">File controller</option>
                        <option value="etc">ETC</option>
                    </select>
                </div>
                <div id="forum-write-input"></div>
            </form>
            <div class="forum-write-btn-box">
                <a href="/forum/list">
                    <button class="btn btn-danger">Cancle</button>
                </a>
                <button class="btn btn-primary mt-2 mb-2 forum-write-save-btn">Save</button>
            </div>
        </div>
    </div>
    <script src="./write.js"></script>
<%- include('../common/footer.ejs') %>