#login-box {
  width: 100%;
  margin: auto;
}

.login-title-logo-box {
  margin-bottom: 40px;
}

.login-form-box {
  width: 40%;
  margin: auto;
}

.login-btn-box {
  margin: auto;
  text-align: center;
}

.login-btn-box div {
  width: 100%;
  border-radius: 2%;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
}

.login-btn-box div:nth-child(2) {
  background-color: #c1553a;
  border: none;
}

.login-btn-box div:nth-child(3) {
  background-color: #3b5998;
  border: none;
}

.login-forgot-password {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.login-forgot-password > p {
  font-weight: bold;
  cursor: pointer;
  color: #b5b5b5;
}

.login-forgot-password > p:hover {
  border-bottom: 1px solid;
}
