<%- include('../common/header.ejs') %>
    <link rel="stylesheet" href="../static/css/main.css">

    <div id="main-box">
        <div class="main-image">
            <!-- <img src="../../static/images/main/main_global.jpg" alt=""> -->
        </div>

        <div class="main-contents-box">
            
        </div>
    </div>
<%- include('../common/footer.ejs') %>