<%- include('../common/header.ejs') %>
    <link rel="stylesheet" href="../static/css/main.css">

    <div id="main-box">
        <div class="main-image">
            <div class="main-image-background">
                <div class="main-image-text-contents-box">
                    <h1>WECLOME FILE WORLD</h1>
                    <p>
                        File World can be enjoyed quickly and conveniently by using various file functions.
                        <br>
                        Get started today for free.
                    </p>
                    <a href="/pricing"><button class="btn btn-primary">Go Free</button></a>
                </div>
            </div>
            <img src="../../static/images/main/main_global.jpg" alt="">
        </div>

        <div class="main-contents-box">
            <div class="main-item-box">
                <div class="row">
                    <div class="col-4 card">
                        <i class="fas fa-file-export"></i>
                        <div class="card-body">
                            <h5 class="card-title">File Export</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="col-4 card">
                        <i class="fas fa-compress"></i>
                        <div class="card-body">
                            <h5 class="card-title">Image Resize</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.
                            </p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="col-4 card">
                        <i class="fas fa-file-export"></i>
                        <div class="card-body">
                            <h5 class="card-title">File Controll</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height
                                action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../common/footer.ejs') %>