<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File World</title>

    <!-- assets -->

    <!-- jquery-->
    <script src="../../static/assets/jquery-3.6.0.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="../../static/assets/bootstrap/bootstrap.min.css">
    <script src="../../static/assets/bootstrap/bootstrap.min.js"></script>

    <!-- axios -->
    <script src="../../static/assets/axios.min.js"></script>

    <!-- icon -->
    <link rel="stylesheet" href="../../static/assets/icon/all.css">

    <!-- css -->
    <link rel="stylesheet" href="../../static/css/common.css">
</head>

<body>
    <div class="notification-box"></div>
    <div class="text-center screen">
        <div class="spinner-border text-primary loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div id="wrap">
        <nav class="header navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid header-container">
                <a class="header-logo navbar-brand" href="/">File
                    <span class="header-world-logo">
                        W<i class="fas fa-globe fa-sm"></i>rld
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navbar-menu"
                    aria-controls="header-navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="header-menu navbar-collapse collapse" id="header-navbar-menu">
                    <!-- header menu -->
                </div>
            </div>
        </nav>

        <script src="../../static/js/notification.js"></script>
        <script src="../../static/js/ajax.js"></script>
        
        <script>
            const headerNavbarMenu = document.getElementById('header-navbar-menu');
            const space = ' ';

            function menuClickEvent() {
                const menuList = document.querySelectorAll('.menu-list > li > a');
                const createSpace = document.createTextNode('&nbsp;')

                for(let i = 0; i < menuList.length; i++) {
                    if(location.href === menuList[i].href) {
                        menuList[i].parentElement.className += `${space}active`;
                    }
                }
            }

            function createMenu() {
                const ul = document.createElement('ul');
                ul.className = 'navbar-nav ml-auto menu-list';

                ul.innerHTML = `
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/forum/list">Forum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pricing">Pricing</a>
                        </li>
                        ${localStorage.getItem('token') ?
                        `<li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        User
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="/user/profile">Profile</a>
                                        <a class="dropdown-item sign-out" href="/">Logout</a>
                                    </div>
                                </li>`
                        :
                        `<li class="nav-item">
                                    <a class="nav-link" href="/user/sign-in">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/user/sign-up">Sign Up</a>
                                </li>`
                    }`;

                headerNavbarMenu.append(ul);

                signOut();
                menuClickEvent();
            }

            function signOut() {
                const signOut = document.querySelector('.sign-out');

                if (signOut) {
                    signOut.addEventListener('click', () => localStorage.removeItem('token'));
                }
            }

            createMenu();
        </script>