<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File World</title>

    <!-- assets -->

    <!-- jquery-->
    <script src="../../static/assets/jquery-3.6.0.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="../../static/assets/bootstrap/bootstrap.min.css">
    <script src="../../static/assets/bootstrap/bootstrap.min.js"></script>

    <!-- axios -->
    <script src="../../static/assets/axios.min.js"></script>

    <!-- icon -->
    <link rel="stylesheet" href="../../static/assets/icon/all.css">

    <!-- css -->
    <link rel="stylesheet" href="../../static/css/common.css">
</head>

<body>
    <div class="notification-box"></div>
    <div class="text-center screen">
        <div class="spinner-border text-primary loading" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div id="wrap">
        <nav class="header navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid header-container">
                <a class="header-logo navbar-brand" href="/">File
                    <span class="header-world-logo">
                        W<i class="fas fa-globe fa-sm"></i>rld
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navbar-menu"
                    aria-controls="header-navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="header-menu navbar-collapse collapse" id="header-navbar-menu">
                    <!-- header menu -->
                </div>
            </div>
        </nav>

        <script src="../../static/js/notification.js"></script>
        <script src="../../static/js/ajax.js"></script>
        <script src="./header.js"></script>